<p>
	<strong>Clerk ID: </strong>
	<%= @clerk.clekr_id %>
</p>

<p>
	<strong>Clerk Name: </strong>
	<%= @clerk.clerk_name %>
</p>

<p>
	<strong>Clerk Age: </strong>
	<%= @clerk.clerk_age %>
</p>

<p>
	<strong>Clerk Address: </strong>
	<%= @clerk.clerk_address %>
</p>

<p>
	<strong>Contact Number: </strong>
	<%= @clerk.phone_num %>
</p>

<%= link_to 'Back', clerks_path %>
