<%= form_for(@clerk) do |f| %>
	<div class="container">
		<div class="row">
			<div class="container" style=" border-radius: 8px; text-align: center; width: 40%; padding: 15px; margin-top: 45px; background-color: #f7f7f7; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)">
				<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Clerk ID</label>
				    <p><%= f.label :clekr_id, disabled:true, value:@randomID%>
			   		   <%= f.hidden_field :clekr_id, value:@randomID %></p>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Clerk Name</label>
				    <p><%= f.text_field :clerk_name %></p>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Clerk Age</label>
				    <p><%= f.text_field :clerk_age%></p>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Clerk Address</label>
				    <p><%= f.text_field :clerk_address %></p>
				  </div>
				   <div class="form-group">
				    <label for="exampleInputPassword1">Contact Number</label>
				    <p><%= f.text_field :phone_num %></p>
				  </div>
				  
				  <button type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
		</div>	

		
	</div>
<% end %>