<p>
	<strong>Order ID: </strong>
	<%= @order.order_id %>
</p>

<p>
	<strong>Order Date: </strong>
	<%= @order.order_date %>
</p>

<p>
	<strong>Total Purchase: </strong>
	<%= @order.order_total %>
</p>


<p>
	<% @c = 0 %>
	<% 	@product_list.each do |p| %>
		<%= p.prod_name %>
		<%= p.quant %>
		<%= @prices[@c]*p.quant %><br/>
		<% @c = @c + 1 %>
	<% end %>



  </p>
<%= link_to 'Back', orders_path %>

