<p>
	<strong>Product ID: </strong>
	<%= @product.product_id %>
</p>

<p>
	<strong>Product Name: </strong>
	<%= @product.product_name %>
</p>

<p>
	<strong>Product Price: </strong>
	<%= @product.product_price %>
</p>

<p>
	<strong>Available Stock: </strong>
	<%= @product.product_stock %>
</p>

<%= link_to 'Back', products_path %>
