<div class="container" style=" border-radius: 8px; text-align: center; width: 90%; padding: 15px; margin-top: 45px; margin-bottom: 45px; background-color: #f7f7f7; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)">

<center>
			<p><span class="fa-stack fa-5x" >
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse" ></i>
            </span></p>
            <p><h1 style="padding-bottom: 20px">PRODUCTS</h1></p>
</center>
<table style="width: 100%" class="table table-hover">
	<thead>
		<tr>
			<th style="text-align: center">Product ID</th>
			<th style="text-align: center">Product Name</th>
			<th style="text-align: center">Product Price</th>
			<th style="text-align: center">Available Stock</th>
			<th style="text-align: center">
				<%= form_tag "/products/find" do %>
					<%= text_field_tag :product_search %>
					<%= submit_tag :search, class: "btn btn-success" %>
				<% end %>
			</th>
		</tr>
	</thead>

	<tbody style="text-align: center">
		<% @products.each do |product| %>	
			<tr id="rows">
				<td><%= product.product_id %></td>
				<td><%= product.product_name %></td>
				<td><%= product.product_price %></td>
				<td><%= product.product_stock %></td>
				<td>
				<a href="/products/<%= product.id %>/delete" class="btn btn-danger"><span class="fa fa-trash"> </span> Delete</a></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<div style="margin-left: 50px" id = "back">
	<a class="btn" style="background-color: #555555; color: white" href="home">Back</a> 
</div>

</div>


<script>

	var x = document.getElementById('rows').disabled = true;

</script>