<div class="container">
	<div class="row">
		<div class="container" style=" border-radius: 8px; text-align: center; width: 40%; padding: 15px; margin-top: 45px; background-color: #f7f7f7; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)">
			<p>
				<strong>Supplier ID: </strong>
				<%= @supplier.supplier_id %>
			</p>

			<p>
				<strong>Supplier Name: </strong>
				<%= @supplier.supplier_name %>
			</p>

			<p>
				<strong>Supplier Address: </strong>
				<%= @supplier.supplier_address %>
			</p>

			<p>
				<strong>Shipment Date: </strong>
				<%= @supplier.shipment_date %>
			</p>

			<p>
				<strong>Shipment Amount: </strong>
				<%= @supplier.shipment_amount %>
			</p>

			<div style="margin-left: 50px">
				<a class="btn" style="background-color: #555555; color: white" href="../suppliers">Back</a> 
			</div>
		</div>
	</div>
</div>