<p>
	<strong>Supplier ID: </strong>
	<%= @supplier.supplier_id %>
</p>

<p>
	<strong>Supplier Name: </strong>
	<%= @supplier.supplier_name %>
</p>

<p>
	<strong>Supplier Address: </strong>
	<%= @supplier.supplier_address %>
</p>

<p>
	<strong>Shipment Date: </strong>
	<%= @supplier.shipment_date %>
</p>

<p>
	<strong>Shipment Amount: </strong>
	<%= @supplier.shipment_amount %>
</p>

<%= link_to "Back", suppliers_path %>