<%= form_for(@supplier, :url => {:action => "update"}) do |f|%>
	<div class="container" style=" border-radius: 8px; text-align: center; width: 30%; padding: 15px; margin-top: 45px; background-color: #f7f7f7; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)">
		<p><strong>Supplier Name:</strong> <%= f.text_field :supplier_name, class:"form-control" %></p>
		<p><strong>Supplier Address:</strong> <%= f.text_field :supplier_address, class:"form-control" %></p>
		<p><strong>Shipment Date:</strong> <%= f.date_field :shipment_date, class:"form-control" %></p>
		<p><strong>Shipment Amount:</strong> <%= f.text_field :shipment_amount, class:"form-control" %></p>

		<a href="/suppliers" class="btn btn-danger">Cancel</a>
		<button type="submit" class="btn btn-success">Update</button>
	</div>
<% end %>